.ant-slide-up-appear,
.ant-slide-up-enter,
.ant-slide-up-leave {
  animation-duration: 0s !important;
}

/* .ant-modal-header {
  background-color: black;
} */
/* .ant-modal-content {background-color: transparent;} */